.product-list__content {
    margin: 80px auto 40px;
}

.product-list__header {
    margin-top: 30px;
    border-bottom: 1px solid #696969;
}

.product-list__header-tag {
    text-decoration: none;
    color: #5f5f5f;
    padding-left: 100px;
    font-weight: bold;
}

.product-list__header-tag.active {
    color: red;
}

.product-list {
    margin-top: 60px;
}

.product-list__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    padding: 0 60px;
}

.product-list__item {
    text-decoration: none;
    color: #000000;
}

.product-list__item-img {
    position: relative;
    aspect-ratio: 1 / 1;
}

.product-list__item-sold {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    font-size: 70px;
    font-weight: bold;
    z-index: 2;
    white-space: nowrap;
}

.product-list__item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.product-list__item-name {
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .product-list__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 60px;
        padding: 0 60px;
    }
}

@media screen and (max-width: 480px) {
    .product-list__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
