.product-detail__content {
    margin: 60px auto 150px;
    display: flex;
    gap: 60px;
    justify-content: flex-end;
}

.product-detail__img {
    margin: 30px;
}

.product-detail__img img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.product-detail__text {
    width: 50%;
}

.product-detail__header h1,
.product-detail__brand p {
    margin: 0;
}

.product-detail__price {
    font-size: 28px;
    margin: 10px 0;
}

.product-detail__icons {
    display: flex;
    gap: 24px;
    align-items: flex-start;
    padding: 0 20px 20px;
}

.product-detail__icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.product-detail__icon--heart,
.product-detail__icon--comment {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.product-detail__button {
    width: 60%;
}

.product-detail__button--purchase {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #ff5555;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.product-detail__info h2 {
    margin-bottom: 0;
}

.product-detail__table {
    margin: 0 0 20px;
}

.product-detail__table-header {
    padding: 10px 50px 10px 0;
}

.product-detail__table-row td {
    padding: 10px 20px 10px 0;
}

.product-detail__table-span--cat {
    display: inline-block;
    padding: 4px 14px;
    background-color: #d9d9d9;
    border-radius: 999px;
    white-space: nowrap;
}

.product-detail__comment-header {
    color: #5f5f5f;
}

.product-detail__comment-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
}

.product-detail__comment-header--name {
    color: #000000;
    font-weight: 800;
    font-size: 20px;
}

.product-detail__comment-body {
    width: 60%;
    background-color: #e5e5e5;
    padding: 10px;
    margin-bottom: 15px;
}

.product-detail__put-comment h3 {
    margin-bottom: 0;
}

.product-detail__input--textarea {
    width: 60%;
    outline: none;
}

.product-detail__button--comment {
    color: #fff;
    background-color: #ff5555;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
}

.form__error {
    color: red;
}
